<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Uploader</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="https://demo.borisolhor.com/drop-uploader/images/favicon.png">
    <link rel="stylesheet" href="https://demo.borisolhor.com/drop-uploader/css/normalize.css">
    <link rel="stylesheet" href="https://demo.borisolhor.com/drop-uploader/css/skeleton.css">

    <link rel="stylesheet" href="https://demo.borisolhor.com/drop-uploader/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="https://demo.borisolhor.com/drop-uploader/css/drop_uploader.css">

    <!--script src="js/jquery-2.2.4.min.js"></script-->
    <script src="https://demo.borisolhor.com/drop-uploader/js/jquery-3.2.1.js"></script>
    <script src="https://demo.borisolhor.com/drop-uploader/js/drop_uploader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <script>
        $(document).ready(function(){
            $('input[type=file]').drop_uploader({
                uploader_text: 'Drop files to upload, or',
                browse_text: 'Browse',
                only_one_error_text: 'Only one file allowed',
                not_allowed_error_text: 'File type is not allowed',
                big_file_before_error_text: 'Files, bigger than',
                big_file_after_error_text: 'is not allowed',
                allowed_before_error_text: 'Only',
                allowed_after_error_text: 'files allowed',
                browse_css_class: 'button button-primary',
                browse_css_selector: 'file_browse',
                uploader_icon: '<i class="fa-solid fa-image"></i>',
                progress_color: '#4a90e2',
                time_show_errors: 5,
                layout: 'thumbnails',
            });
        });
    </script>
</head>
<body style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="twelve column" style="margin-top: 5%">
                <h4>Upload Design</h4>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    {{ form.image() }}
                    {{ form.submit() }}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
