<div data-ecg-options='{"series":[{"type":"bar","data":[{"value":"120","name":"Category 1","itemStyle":{"color":null}},{"value":"40","name":"Category 2","itemStyle":{"color":null}},{"value":"30","name":"Category 3","itemStyle":{"color":null}}]}],"xAxis":[{"data":["Category 1","Category 2","Category 3"]}],"yAxis":[{"type":"value"}]}' data-ecg-series='[{"id":1656170464666,"label":"Category 1","value":"120","color":null},{"id":1656170466952,"label":"Category 2","value":"40","color":null},{"id":1656170467304,"label":"Category 3","value":"30","color":null}]' data-ecg-theme="macarons" id="inw6">
</div>
<script>
var items = document.querySelectorAll('#inw6');
for (var i = 0, len = items.length; i < len; i++) {
  (function () {
      var t = this;
      window.$grapesEcharts || (window.$grapesEcharts = {themes: []});
      var e = JSON.parse(this.getAttribute("data-ecg-options")),
          n = this.getAttribute("data-ecg-theme") || null, i = function () {
              try {
                  var i = echarts.getInstanceByDom(t);
                  i && echarts.dispose(i);
                  var r = echarts.init(t, n);
                  e && r.setOption(e)
              } catch (t) {
                  console.log(t)
              }
          }, r = function () {
              if (n) if (window.$grapesEcharts.themes.includes(n)) i(); else {
                  var t = document.createElement("script");
                  t.onload = i, window.$grapesEcharts.themes.push(n), t.src = "https://unpkg.com/echarts@4.6.0/theme/".concat(n, ".js"), document.body.appendChild(t)
              } else i()
          };
      if ("undefined" == typeof echarts) {
          var o = document.createElement("script");
          o.onload = r, o.src = "https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js", document.body.appendChild(o)
      } else r()
  }.bind(items[i]))();
}
</script>